html {
	background-color: rgb(217, 217, 217);
}
/*---Header---*/

.header {
	background: rgb(38, 38, 38);
	height: 30px;
	font-size: 20px;
}

/*---body rezising---*/

body {
	margin-left: 500px;
	margin-right: 500px;
	padding-right: 25px;
	padding-left: 50px;
	background-color: white;
}


/*---href---*/

a[href^="http"] {
	color: red;
	text-decoration: none
}

/*---Profile Picture---*/

img[alt="pic"]{
	position: absolute;
	top: 70px;
	width: 105px;
	height: 105px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px

}

h2 {
	position: relative;
	left: 160px;
	font-size: 30px;
}

.sub-text {
	position: relative;
	left: 160px;
	font-size: 20px;
}

/*--- Social-Icons ---*/
.social-icon-container {
	text-align: center;
}

/*---first Section---*/
.first-text {
	border-bottom: solid rgb(242, 242, 242);
}

/*---Second Section---*/
.second-text {
	border-bottom: solid rgb(242, 242, 242);
}

/*---Third Section---*/
.third-text {
	border-bottom: solid rgb(242, 242, 242);
}
